In [3]:
import pandas as pd

# Loading Datasets

In [4]:
df_generated = pd.read_parquet("hf://datasets/kinisi/gym_kr2-PickYCB-v1-fixed-depth_generated_v2.1/data/chunk-000/episode_000000.parquet")
df_fake_generated = pd.read_parquet("hf://datasets/kinisi/gym_kr2-PickYCB-v1-fixed-depth_fake_generated_v2.1/data/chunk-000/episode_000000.parquet")

In [5]:
df_generated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1595 entries, 0 to 1594
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   observation.images.head_camera  1595 non-null   object
 1   action                          1595 non-null   object
 2   observation.state               1595 non-null   object
 3   timestamp                       1595 non-null   float32
 4   frame_index                     1595 non-null   int64
 5   episode_index                   1595 non-null   int64
 6   index                           1595 non-null   int64
 7   task_index                      1595 non-null   int64
dtypes: float32(1), int64(4), object(3)
memory usage: 93.6+ KB

In [6]:
df_fake_generated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1595 entries, 0 to 1594
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   observation.images.head_camera  1595 non-null   object
 1   action                          1595 non-null   object
 2   observation.state               1595 non-null   object
 3   timestamp                       1595 non-null   float32
 4   frame_index                     1595 non-null   int64
 5   episode_index                   1595 non-null   int64
 6   index                           1595 non-null   int64
 7   task_index                      1595 non-null   int64
dtypes: float32(1), int64(4), object(3)
memory usage: 93.6+ KB

# New Dataframes for 'observation.state' and 'action'

In [7]:
state_combined = pd.concat([df_generated['observation.state'], df_fake_generated['observation.state']], ignore_index=True)
action_combined = pd.concat([df_generated['action'], df_fake_generated['action']], ignore_index=True)

In [8]:
state_df = pd.DataFrame(state_combined.tolist())
state_df.columns = [f'state_{i}' for i in range(state_df.shape[1])]

action_df = pd.DataFrame(action_combined.tolist())
action_df.columns = [f'state_{i}' for i in range(action_df.shape[1])]

In [9]:
state_df.head()

,state_0,state_1,state_2,state_3,state_4,state_5,state_6,state_7,state_8,state_9,...,state_21,state_22,state_23,state_24,state_25,state_26,state_27,state_28,state_29,state_30
0,0.018257,0.018257,-0.000016,-0.001022,-0.600331,-0.378351,0.468709,-1.798005,1.798133,0.002816,...,0.792600,-0.793677,-0.000003,-6.297545e-06,0.000004,-4.185603e-10,-0.794343,0.793510,-1.191359e-06,-0.000005
1,0.011092,0.011092,0.000706,-0.001152,-0.600212,-0.379342,0.466962,-1.796333,1.796523,0.004250,...,0.799863,-0.799950,-0.000001,-3.898578e-06,0.000002,-1.989670e-10,-0.800120,0.799998,4.612901e-07,-0.000003
2,0.006739,0.006739,0.001295,-0.001390,-0.600143,-0.380520,0.465257,-1.794547,1.795105,0.005723,...,0.799929,-0.800000,-0.000001,-3.357395e-06,0.000002,-2.015182e-10,-0.800067,0.800042,5.632125e-07,-0.000002
3,0.004094,0.004094,0.001788,-0.001716,-0.600101,-0.382145,0.463310,-1.792537,1.793805,0.007541,...,0.799929,-0.800000,-0.000001,-1.948255e-06,0.000002,-1.865733e-10,-0.800063,0.800042,-9.703118e-07,-0.000002
4,0.002663,0.002663,0.002228,-0.002107,-0.600069,-0.384191,0.461054,-1.790260,1.792584,0.009705,...,0.799929,-0.800000,-0.000002,-9.284292e-07,0.000002,-1.817493e-10,-0.800062,0.800042,-2.188611e-06,-0.000002

In [10]:
action_df.head()

,state_0,state_1,state_2,state_3,state_4,state_5,state_6,state_7,state_8,state_9,...,state_11,state_12,state_13,state_14,state_15,state_16,state_17,state_18,state_19,state_20
0,0.0,0.0,0.000960,-0.000960,-0.6,-0.379100,0.465854,-1.795200,1.795200,0.004800,...,-1.339615,1.247834,1.003621,-0.889574,2.024197,-2.013411,3.086792,-3.091755,1.0,-1.0
1,0.0,0.0,0.001248,-0.001248,-0.6,-0.380540,0.464414,-1.793760,1.794055,0.006240,...,-1.338175,1.249274,1.005061,-0.888134,2.025637,-2.014851,3.085353,-3.090366,1.0,-1.0
2,0.0,0.0,0.001638,-0.001638,-0.6,-0.382492,0.462462,-1.791808,1.792929,0.008192,...,-1.336223,1.251226,1.007013,-0.886182,2.027589,-2.016803,3.083400,-3.088455,1.0,-1.0
3,0.0,0.0,0.002111,-0.002111,-0.6,-0.384854,0.460100,-1.789446,1.791809,0.010554,...,-1.333862,1.253588,1.009375,-0.883821,2.029951,-2.019165,3.081039,-3.086126,1.0,-1.0
4,0.0,0.0,0.002649,-0.002649,-0.6,-0.387543,0.457411,-1.786757,1.790702,0.013243,...,-1.331172,1.255790,1.012064,-0.881131,2.032640,-2.021854,3.078350,-3.083463,1.0,-1.0

In [11]:
state_df.to_csv('../data/observation_data', index=False)
action_df.to_csv('../data/action_data', index=False)