In [99]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
import joblib

In [21]:
X = pd.read_csv('../data/observation_data')
y = pd.read_csv('../data/action_data')

In [22]:
X.head()

,state_0,state_1,state_2,state_3,state_4,state_5,state_6,state_7,state_8,state_9,...,state_21,state_22,state_23,state_24,state_25,state_26,state_27,state_28,state_29,state_30
0,0.018257,0.018257,-0.000016,-0.001022,-0.600331,-0.378351,0.468709,-1.798005,1.798133,0.002816,...,0.792600,-0.793677,-0.000003,-6.297545e-06,0.000004,-4.185603e-10,-0.794343,0.793510,-1.191359e-06,-0.000005
1,0.011092,0.011092,0.000706,-0.001152,-0.600212,-0.379343,0.466962,-1.796333,1.796523,0.004250,...,0.799863,-0.799950,-0.000001,-3.898578e-06,0.000002,-1.989670e-10,-0.800120,0.799998,4.612901e-07,-0.000003
2,0.006739,0.006739,0.001295,-0.001390,-0.600143,-0.380520,0.465257,-1.794547,1.795105,0.005723,...,0.799929,-0.800000,-0.000001,-3.357395e-06,0.000002,-2.015183e-10,-0.800067,0.800042,5.632125e-07,-0.000002
3,0.004094,0.004094,0.001788,-0.001716,-0.600101,-0.382145,0.463310,-1.792537,1.793805,0.007541,...,0.799929,-0.800000,-0.000001,-1.948255e-06,0.000002,-1.865733e-10,-0.800063,0.800042,-9.703118e-07,-0.000002
4,0.002663,0.002663,0.002228,-0.002107,-0.600069,-0.384191,0.461054,-1.790260,1.792584,0.009705,...,0.799929,-0.800000,-0.000002,-9.284292e-07,0.000002,-1.817493e-10,-0.800062,0.800042,-2.188611e-06,-0.000002

In [25]:
X.describe().round(3)

,state_0,state_1,state_2,state_3,state_4,state_5,state_6,state_7,state_8,state_9,...,state_21,state_22,state_23,state_24,state_25,state_26,state_27,state_28,state_29,state_30
count,3190.000,3190.000,3190.000,3190.000,3190.000,3190.000,3190.000,3190.000,3190.000,3190.000,...,3190.000,3190.000,3190.0,3190.0,3190.0,3190.0,3190.000,3190.000,3190.0,3190.0
mean,0.002,0.002,0.038,0.006,-0.600,0.606,0.175,-0.282,1.819,-0.732,...,0.755,-0.754,0.0,-0.0,0.0,-0.0,-0.755,0.754,-0.0,0.0
std,0.000,0.000,0.094,0.061,0.001,0.552,0.350,0.529,0.031,0.356,...,0.066,0.067,0.0,0.0,0.0,0.0,0.066,0.067,0.0,0.0
min,0.002,0.002,-0.116,-0.116,-0.602,-0.495,-0.578,-1.798,1.765,-1.338,...,0.653,-0.800,-0.0,-0.0,-0.0,-0.0,-0.800,0.649,-0.0,-0.0
25%,0.002,0.002,-0.000,-0.032,-0.600,0.088,-0.043,-0.568,1.799,-0.931,...,0.659,-0.800,-0.0,-0.0,-0.0,-0.0,-0.800,0.657,-0.0,-0.0
50%,0.002,0.002,0.024,0.004,-0.600,0.703,0.205,0.024,1.810,-0.854,...,0.800,-0.800,0.0,-0.0,0.0,-0.0,-0.800,0.800,-0.0,0.0
75%,0.002,0.002,0.099,0.032,-0.600,0.860,0.337,0.074,1.837,-0.585,...,0.800,-0.657,0.0,0.0,0.0,0.0,-0.658,0.800,-0.0,0.0
max,0.018,0.018,0.234,0.152,-0.599,1.720,0.779,0.237,1.905,0.241,...,0.800,-0.650,0.0,0.0,0.0,0.0,-0.652,0.800,0.0,0.0

# Spliting data into Train and Test sets

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=12)

In [26]:
X_train.shape

(2233, 31)

In [27]:
X_test.shape

(957, 31)

In [34]:
X_train.describe().round(3)

,state_0,state_1,state_2,state_3,state_4,state_5,state_6,state_7,state_8,state_9,...,state_21,state_22,state_23,state_24,state_25,state_26,state_27,state_28,state_29,state_30
count,2233.000,2233.000,2233.000,2233.000,2233.000,2233.000,2233.000,2233.000,2233.000,2233.000,...,2233.000,2233.000,2233.0,2233.0,2233.0,2233.0,2233.000,2233.000,2233.0,2233.0
mean,0.002,0.002,0.037,0.005,-0.600,0.605,0.179,-0.285,1.818,-0.727,...,0.755,-0.755,0.0,-0.0,0.0,-0.0,-0.755,0.755,-0.0,0.0
std,0.000,0.000,0.092,0.061,0.001,0.554,0.344,0.538,0.030,0.361,...,0.065,0.066,0.0,0.0,0.0,0.0,0.066,0.067,0.0,0.0
min,0.002,0.002,-0.116,-0.116,-0.602,-0.495,-0.578,-1.798,1.765,-1.338,...,0.653,-0.800,-0.0,-0.0,-0.0,-0.0,-0.800,0.649,-0.0,-0.0
25%,0.002,0.002,-0.000,-0.033,-0.600,0.088,-0.011,-0.572,1.799,-0.930,...,0.660,-0.800,-0.0,-0.0,-0.0,-0.0,-0.800,0.658,-0.0,-0.0
50%,0.002,0.002,0.024,0.003,-0.600,0.720,0.205,0.024,1.810,-0.854,...,0.800,-0.800,0.0,-0.0,0.0,-0.0,-0.800,0.800,-0.0,0.0
75%,0.002,0.002,0.091,0.032,-0.600,0.860,0.327,0.075,1.836,-0.585,...,0.800,-0.658,0.0,0.0,0.0,0.0,-0.659,0.800,-0.0,0.0
max,0.018,0.018,0.234,0.152,-0.599,1.720,0.779,0.237,1.905,0.241,...,0.800,-0.650,0.0,0.0,0.0,0.0,-0.652,0.800,0.0,0.0

In [35]:
X_test.describe().round(3)

,state_0,state_1,state_2,state_3,state_4,state_5,state_6,state_7,state_8,state_9,...,state_21,state_22,state_23,state_24,state_25,state_26,state_27,state_28,state_29,state_30
count,957.000,957.000,957.000,957.000,957.000,957.000,957.000,957.000,957.000,957.000,...,957.000,957.000,957.0,957.0,957.0,957.0,957.000,957.000,957.0,957.0
mean,0.002,0.002,0.040,0.008,-0.600,0.607,0.168,-0.274,1.821,-0.743,...,0.754,-0.753,0.0,-0.0,0.0,-0.0,-0.754,0.753,-0.0,0.0
std,0.001,0.001,0.097,0.062,0.001,0.545,0.364,0.510,0.032,0.344,...,0.066,0.068,0.0,0.0,0.0,0.0,0.067,0.068,0.0,0.0
min,0.002,0.002,-0.116,-0.116,-0.602,-0.494,-0.578,-1.798,1.765,-1.338,...,0.653,-0.800,-0.0,-0.0,-0.0,-0.0,-0.800,0.649,-0.0,-0.0
25%,0.002,0.002,-0.000,-0.029,-0.601,0.088,-0.099,-0.555,1.801,-0.932,...,0.658,-0.800,-0.0,-0.0,-0.0,-0.0,-0.800,0.655,-0.0,-0.0
50%,0.002,0.002,0.024,0.005,-0.600,0.667,0.203,-0.001,1.810,-0.853,...,0.800,-0.800,0.0,-0.0,0.0,-0.0,-0.800,0.800,-0.0,0.0
75%,0.002,0.002,0.113,0.034,-0.600,0.893,0.362,0.069,1.840,-0.585,...,0.800,-0.656,0.0,0.0,0.0,0.0,-0.657,0.800,-0.0,0.0
max,0.018,0.018,0.234,0.152,-0.599,1.720,0.777,0.237,1.905,0.241,...,0.800,-0.650,0.0,0.0,0.0,0.0,-0.652,0.800,0.0,0.0

# Standardising Data

In [43]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_train_scaled = pd.DataFrame(X_train_scaled, columns=[f'state_{i}' for i in range(X_train_scaled.shape[1])])

X_test_scaled = scaler.transform(X_test)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=[f'state_{i}' for i in range(X_test_scaled.shape[1])])

# Model Training

### SKlearn random forest

In [102]:
rf = RandomForestRegressor(random_state=12)
rf.fit(X_train_scaled, y_train)
y_pred = rf.predict(X_test_scaled)
score = r2_score(y_test, y_pred)

In [103]:
score

0.11136778485756735

### Saving model and scaler

In [101]:
joblib.dump(scaler, '../models/scaler.pk1')
joblib.dump(rf, '../models/rf_model.pk1')

['../models/rf_model.pk1']